.game-over{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 100vh;
}

.game-over h1{
    font-size: 2.5em;
}

#score{
    color: #ecfa00;
    font-size: 1.5em;
}

#word-elimitation{
    text-transform: uppercase;
}