@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Rubik+Dirt&family=Rubik+Iso&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;

    background: rgb(3,34,63);
    background: linear-gradient(180deg, rgba(3,34,63,1) 0%, rgba(0,0,0,1) 100%);

    font-family: helvetica;
    color: #f2f2f2;
}

button {
    background-color: #1646a0;

    color: #f2f2f2;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2em;

    cursor: pointer;
    transition: .4s;

    height: 40px;
    padding: 0 45px;

    border: 2px solid #f2f2f2;
    border-radius: 25px;
}

button:hover {
    background-color: #0923af;
    transform: translateY(5px);
}